.navbar{
	box-shadow: 2px 2px 5px #000;
	opacity: .9;
}

.navbar .nav-item .nav-link{
	color: #000;
}


body{
	background: url(../img/ControlPaper.jpg);
	background-size: cover;
}

body:before{
	content: "";
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;

	background: rgba(52, 152, 219,.8);
	opacity: 0.7;
	z-index: -1;
}

body form {
  width: 80%;
  height: 75%;
  background-color: rgba(250,250,250,0.6);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0px 30px;
    font-size: 20px;
    font-family:inherit;
     border-radius: 0px 80px 0px 80px;
}

form select {
    color: #000;
    border-radius: 5px 5px 5px 5px; 
    background-color: rgba(52, 152, 219,.3);
}

form input[type="text"]{
	color: #000;
    border-radius: 5px 5px 5px 5px; 
}

form input[type="submit"] {
  border: none;
  outline: none;
  height: 37px;
  background: #32CD32;
  font-size: 20px;
  border-radius: 20px;
}